*{
    margin:0px;
    padding: 0px;
}

body{
    
    min-height: 100vh;
    
    background-color: #d5e1ef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: outfit;
    text-align: center;
}

.mainDiv{
    width: 288px;
    background-color: white;
    padding: 16px 16px 40px;
    border-radius: 20px;
}

h1 {
    margin: 24px 16px 16px;
    font-size: 22px;
    font-weight: bold;
    color: #1f314f;
}

p{
    color: #7d889e;
    font-size: 15px;
    margin: 0 16px;
    letter-spacing: 0.19px;
}

img{
    width: 100%;
    border-radius: 10px;
}
